/********************
YOUR STYLES
*******************/

h1 {
    color: cadetblue;
    text-transform: uppercase;    
}

.char1{
    background: gray;
    display: inline-block;
    padding: 10px;
    transform: rotate(30deg);
    
}

.char9{
    background: gray;
    display: inline-flex;
    padding: 10px;
    transform: rotate(30deg);
    
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}